<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" 
      path="*" 
      verb="*" 
      modules="FastCgiModule" 
      scriptProcessor="command for wfastcgi-enable here" 
      resourceType="Unspecified" 
      requireAccess="Script" />
    </handlers>
  <httpErrors errorMode="Detailed" />
  </system.webServer>

  <appSettings>
		<add key="PYTHONPATH" value="path to python venv e.g if your venv is within MPCE_HUB then it would be C:\inetpub\wwwroot\MPCE_HUB" />
		<add key="WSGI_HANDLER" value="configuration.wsgi.application" />
		<add key="DJANGO_SETTINGS_MODULE" value="configuration.settings" />
  </appSettings>
</configuration>    