{% load static %}
{% for category in categories %}
<tr id="cat-{{ category.pk }}">
  <td>
    <a
      href="{% url 'library_app:loan_category_edit_modal' category.pk %}"
      hx-get="{% url 'library_app:loan_category_edit_modal' category.pk %}"
      hx-target="#categoryModalContent"
      hx-swap="innerHTML"
    >
      {{ category.category_name }}
    </a>
  </td>
  <td>{{ category.display_name }}</td>
  <td>{{ category.is_permanent_loan|yesno:"Yes,No" }}</td>
  <td
    class="{% if category.is_active %} {% else %}bg-danger text-white fw-bold{% endif %}"
  >
    {{ category.is_active|yesno:"Yes,No" }}
  </td>
  <td>
    {% if category.image %}
    <img src="{{ category.image.url }}" alt="Has image" width="24" />
    {% else %} No Image {% endif %}
  </td>
</tr>
{% endfor %}