<div
  class="modal fade"
  id="{{ modal_id|default:'errorModal' }}"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="{{ modal_id|default:'errorModal' }}Label"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0 shadow-lg">
      <div class="custom-modal-body mb-0">
        <i class="bx bxs-error-circle bx-tada bx-lg pt-3 text-danger"></i>
        <h3 class="modal-error-msg mb-4">
          {{ modal_title|default:"Error!" }}
        </h3>
        <ul class="error-modal-message list-unstyled d-grid gap-2 mb-0">
          <!-- prettier-ignore -->
          {# non-Ajax views, populate with context #} 
            {% if modal_items %} 
              {% for item in modal_items %}
          <li class="px-3 py-2 rounded">
            <div class="lh-base text-break">{{ item }}</div>
          </li>
          {% endfor %} {% endif %}
        </ul>
      </div>
      <div class="custom-modal-footer mb-3">
        <button
          id="{{ modal_id|default:'errorModal' }}_close_btn"
          type="button"
          class="btn btn-secondary rounded px-5"
          data-bs-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
